<html>

<head>
  <title>Caner's Wonderland</title>
</head>

<body>
  <h5>
    Leave her to sing her withered songs
    In tunnels painted like the dawn
    To write a letter to the night
    This sightless, songless, silent giant
  </h5>
  
</body>

</html>